[submodule "vendor/termux-api"]
	path = vendor/termux-api
	url = https://github.com/termux/termux-api
[submodule "vendor/termux-app"]
	path = vendor/termux-app
	url = https://github.com/termux/termux-app
[submodule "vendor/termux-api-package"]
	path = vendor/termux-api-package
	url = https://github.com/termux/termux-api-package
