# python
build
.venv
venv
*.pyc
__pycache__
*.egg-info

# tools
.mypy_cache
.pytest_cache
.ruff_cache
htmlcov
.coverage
coverage.xml

# env
.env
.env.local
Makefile.var

# project
/logs

# misc
.DS_Store
*.log
node_modules
/webui-assets
