# core
websockets>=12.0
click>=8.0
pydantic>=2.12.5
python-dotenv>=1.0
structlog>=25.0

# o11y
opentelemetry-api>=1.38
opentelemetry-sdk>=1.38
opentelemetry-exporter-otlp-proto-http>=1.38

# server
fastapi>=0.109.0
uvicorn>=0.27.0

# dev
httpx>=0.27.0
pytest>=8.0
pytest-watcher>=0.4
mypy>=1.8.0

# shared library
local-ihate-work @ git+https://github.com/ihate-work/ihate-library
--editable .
